body {
	margin: 0;
	padding: 0;
	background: #000;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-transform: translate3d(0,0,0) !important;
	transform: translate3d(0,0,0) !important;
}
canvas {
	display: block;
	margin: 0 auto;
	z-index: 10;
	position: absolute;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
	-webkit-transform: translate3d(0,0,0) !important;
	transform: translate3d(0,0,0) !important;
}
#mapid {
	height: 480px;
	z-index: 5;
}
